* {
    margin:0;
    padding:0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background: -webkit-linear-gradient(left, #00c6ff,#0072ff);
}

.card{
    height: auto;
    width: 40%;
    background-color: #fff;
    position: relative;
    margin-top:25%;
    left:30%;
    padding:55px 10px 20px 10px;
    text-align: center;
    transition: 340ms ease;
    /*cursor: pointer;*/
}

.topImg {
    position: absolute;
    transform: translate(-50%);
    top:-90px;
    height: 130px;
    width: 150px;
    left: 50%;
}

.card h2 {
    font-size: 1.5em;
    padding-bottom: 10%;
}

.card p {
    font-size: 0.9em;
    margin-bottom: 10px;
    color: black;
}

.card #guideNote{
    font-size: 0.9em;
    position: relative;
    opacity: 0;
    text-decoration: none;
    color: black;
}
.card:hover #guideNote{
    opacity: 1;
    transition: 250ms ease;
}

.card:hover {
    transform: scale(1.25);
    box-shadow: 5px 5px 20px rgba(0,0,0,0.6);
}

.avatar {
    height: 50px;
    width: 50px;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
}

.card:hover .avatar {
    cursor: pointer;
}

.theWarning{
    background-color: tomato;
    position: absolute;
    height: 5%;
    width: 20%;
    border-radius: 15px;
    opacity: 0;
    left: 40%;
    padding: 10px;
    text-align: center;
    font-weight: bold;
}
